<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Board Web Scraper</title>
    <link href="./style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Job Board Web Scraper</h1>
      </header>

      <main>
        <h2>Indeed Jobs</h2>

        <div class="card-container">
          <!-- cards go here -->
          <% for (job of indeedList) {%>
          <div class="card">
            <img src="./img/indeed.png" alt="indeed logo" />
            <span class="title"> <%= job.jobTitle %> </span>
            <span> <%= job.companyName %>, <%= job.companyLocation %> </span>
            <span> <%= job.date %> </span>
            <a href="<%= job.url %>">Link</a>
          </div>
          <%}%>
        </div>

        <h2>Hubstaff Jobs</h2>

        <div class="card-container">
          <!-- cards go here -->
          <% for (job of hubList) {%>
          <div class="card">
            <img src="./img/hubstaff.png" alt="hubstaff logo" />
            <span class="title"> <%= job.jobTitle %> </span>
            <span> <%= job.companyName %></span>
            <span><%= job.companyDescription %> </span>
            <a href="<%= job.url %>">Link</a>
          </div>
          <%}%>
        </div>

        <h2>Dice Jobs</h2>

        <div class="card-container">
          <!-- cards go here -->
          <% for (job of diceList) {%>
          <div class="card">
            <img src="./img/dice.png" alt="dice logo" />
            <span class="title"> <%= job.jobTitle %> </span>
            <span> <%= job.companyName %>, <%= job.companyLocation %></span>
            <span><%= job.date %> </span>
            <a href="<%= job.url %>">Link</a>
          </div>
          <%}%>
        </div>
      </main>
      <footer>
        <small>Created by Owen W.</small>
      </footer>
    </div>
  </body>
</html>
